@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #f4f4f4;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 250px;
  border-right: #4f4f4f solid 2px;
  padding-left: 20px;
}

#navbar a {
  text-decoration: none;
  list-style: none;
  color: #4f4f4f;
}

#navbar a:hover {
  cursor: pointer;
  color: #2b2929;
}

#navbar header {
  font-size: 20px;
  margin: 10px 0;
}

.nav-link li {
  margin: 20px 10px;
  border-bottom: solid 1px;
}

#main-doc {
  position: absolute;
  margin-left: 270px;
  padding: 20px;
}

.main-section header {
  font-size: 25px;
  margin-bottom: 20px;
}

.main-section p {
  font-size: 16px;
  margin-bottom: 30px;
}

.main-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.code-p {
border-left: solid rgb(6, 6, 146);
background: #dddfbf;
padding: 20px;
margin: 0 30px;
}

.code-output {
  margin: 0 30px;
}

#link:hover {
  text-decoration: none;
}

span {
  margin-left: 10px;
}

#Accessibility ul li {
  margin-bottom: 20px;
  margin-left: 30px;
}

footer {
  margin-top: 50px;
  border-top: #4f4f4f solid 2px;
  padding: 30px;
}

footer a:hover {
  text-decoration: none;
}